<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mamba.popidea.dao.UserFavoriteBeanMapper" >
  <resultMap id="BaseResultMap" type="com.mamba.popidea.model.UserFavoriteBean" >
    <id column="user_favorite_id" property="userFavoriteId" jdbcType="BIGINT" />
    <result column="column_id" property="columnId" jdbcType="BIGINT" />
    <result column="collected_id" property="collectedId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_favorite_id, column_id, collected_id, user_id, status, type, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_favorite
    where user_favorite_id = #{userFavoriteId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_favorite
    where user_favorite_id = #{userFavoriteId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mamba.popidea.model.UserFavoriteBean" >
    insert into user_favorite (user_favorite_id, column_id, collected_id, 
      user_id, status, type, 
      create_time, update_time)
    values (#{userFavoriteId,jdbcType=BIGINT}, #{columnId,jdbcType=BIGINT}, #{collectedId,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mamba.popidea.model.UserFavoriteBean" >
    insert into user_favorite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userFavoriteId != null" >
        user_favorite_id,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="collectedId != null" >
        collected_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userFavoriteId != null" >
        #{userFavoriteId,jdbcType=BIGINT},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=BIGINT},
      </if>
      <if test="collectedId != null" >
        #{collectedId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mamba.popidea.model.UserFavoriteBean" >
    update user_favorite
    <set >
      <if test="columnId != null" >
        column_id = #{columnId,jdbcType=BIGINT},
      </if>
      <if test="collectedId != null" >
        collected_id = #{collectedId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_favorite_id = #{userFavoriteId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mamba.popidea.model.UserFavoriteBean" >
    update user_favorite
    set column_id = #{columnId,jdbcType=BIGINT},
      collected_id = #{collectedId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_favorite_id = #{userFavoriteId,jdbcType=BIGINT}
  </update>
</mapper>